<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
		<title>Jason is a human</title>

		<!-- load fonts from typekit -->
		<script type="text/javascript" src="//use.typekit.net/nnm6oxj.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- styles -->
		<link rel="stylesheet" href="/assets/css/site.min.css">
	</head>
	<body>
		<div class="site-container">
			<!-- .site-head -->
			<div class="site-head">
				<a href="/" class="at">jason howmans</a>
			</div><!-- end .site-head -->

			{{{body}}}
		</div>
	</body>
</html>
