<!-- begin home wrapper -->
<div class="home-wrapper">

	<!-- .brief-howdy -->
	<section class="alpha block padded brief-howdy">
		<div class="row">
			<h1 class="hello-heading">Hi I'm Jason, I'm from the internet.</h1>
			<p class="more-info">I build things for the web using emerging technologies in London.</p>
		</div>
	</section><!-- end .brief-howdy -->

	<!-- .socialism -->
	<section class="block socialism">
		<h2 class="find-me-heading">find me on...</h2>
		<div class="locations">
			<span class="location github">Github</span>
			<span class="location twitter">Twitter</span>
			<span class="location linkedin">LinkedIn</span>
		</div>
	</section><!-- end .socialism -->

	<!-- .item-stream -->
	<section class="block item-stream">
		<div class="row">
			<article class="post-link">
				<header>
					<div class="post-meta"><span class="created-date">2 days ago</span><span class="reading-time">3 mins</span></div>
					<a href="/faster-load-times">
						<h1 class="post-heading">How to make your page loads 90% faster</h1>
					</a>
				</header>
			</article>
			<article class="post-link">
				<header>
					<div class="post-meta"><span class="created-date">1 week ago</span><span class="reading-time">5 mins</span></div>
					<a href="/browser-arduino-with-node">
						<h1 class="post-heading">Interface with Arduino from the browser</h1>
					</a>
				</header>
			</article>
			<article class="post-link">
				<header>
				<div class="post-meta"><span class="created-date">1 month ago</span><span class="reading-time">12 mins</span></div>
					<a href="/making-this-site">
						<h1 class="post-heading">What was hard about making this site</h1>
					</a>
				</header>
			</article>
		</div>
	</section><!-- end .item-stream -->

</div><!-- end home wrapper -->
