html { width: 100%; height: 100%; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: $clr-base;
  color: $clr-text;
  font: 300 18px/1.45 $font-sans;
}

// .site-head
.site-head {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $index-masthead;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-family: $font-serif;
  font-weight: 300;

  > a { color: $clr-text; }

  // light on dark variation
  &.l-o-d {
    > a { color: white; }
  }
}
