// — — — — — — — — — — — — — — — — — — — —
// colors
// — — — — — — — — — — — — — — — — — — — —
$clr-base: #F8F8F8;
$clr-text: #313131;
$clr-links: #8A14E9;

// — — — — — — — — — — — — — — — — — — — —
// font sets
// — — — — — — — — — — — — — — — — — — — —
$font-serif: 'rooney-web', Georgia, serif;
$font-sans: 'jaf-facitweb', Helvetica, serif;

// — — — — — — — — — — — — — — — — — — — —
// indexes
// — — — — — — — — — — — — — — — — — — — —
$index-masthead: 1500;
